# Update these with your Supabase details from the dashboard
# Settings -> API
NEXT_PUBLIC_SUPABASE_URL=https://terucgwvskwhvsoezojw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_kEbMq8f4577I-MEhUV3IFA_4wXNL_DX
